@mixin breakpoint($bp, $rule: min-width) {
  @media screen and (#{$rule}: map-get($grid-breakpoints, $bp)) {
    @content;
  }
}

@mixin max-breakpoint($bp, $rule: max-width) {
  @media screen and (#{$rule}: map-get($grid-breakpoints, $bp) - 1) {
    @content;
  }
}

@mixin min-max-breakpoint($min, $max) {
  @media screen and (min-width: map-get($grid-breakpoints, $min)) and (max-width: map-get($grid-breakpoints, $max) - 1) {
    @content;
  }
}

@mixin container() {
  margin: 0 auto;
  max-width: 1820px;
  padding: 0 16px;

  @include breakpoint(lg) {
    padding: 0 50px;
  }
}

@mixin mask($url) {
  mask-image: url($url);
  mask-size: contain;
  mask-repeat: no-repeat;
  mask-position: center;
}

//// Typography Mixins
@mixin adaptive-font($mobFontSize, $pcFontSize) {
  font-size: clamp(#{$mobFontSize + px}, (1rem + 5vw), #{$pcFontSize + px});
}

@mixin adaptive-lineHeight($mobLineHeight, $pcLineHeight) {
  line-height: clamp(#{$mobLineHeight + px}, (1rem + 5vw), #{$pcLineHeight + px});
}

@mixin h1(
  $fontFamily: $font-default,
  $fontWeight: $baseFontWeight,
  $fontSizes: (
    $mobFontSize,
    $pcFontSize
  ),
  $lineHeights: (
    $mobLineHeight,
    $pcLineHeight
  ),
  $letterSpacing: $baseLetterSpacing,
  $color: $baseColor
) {
  font-family: $fontFamily;
  font-weight: $fontWeight;
  letter-spacing: $letterSpacing;
  color: $color;
  @include adaptive-font($fontSizes[]);
  @include adaptive-lineHeight($lineHeights[]);
}

@mixin text($color: rgba(var(--backDarkColor), 1)) {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: calc(34px * var(--line-height-multiplier));
  color: $color;
  margin-bottom: 22px;

  @include breakpoint(sm) {
    font-size: 1.875rem;
    line-height: 42px;
    margin-bottom: 30px;
  }

  @include breakpoint(md) {
    margin-bottom: 32px;
    max-width: calc(100% - 200px);
  }
}

// Others
@mixin hideScrollbar() {
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent;
    display: none;
  }
}

@mixin textEllipsis($linesCount) {
  @if $linesCount >0 {
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $linesCount;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
  }
}

@mixin iconContainer($size: 24px, $height: $size) {
  width: $size;
  height: $height;
  min-width: $size;
  max-width: $size;
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hovering {
  @media (hover), (min-width: 0\0), (min-device-pixel-ratio: 0) {
    @content;
  }
}
